.body-crew {
    width: 100vw;
    height: 100vh;
    background-image: url(../crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: var(--branco);
}

.titulos__cargo{
    font-family: var(--fonte-secundaria);
    font-size: 32px;
    color: var(--branco);
    text-transform: uppercase;
    opacity: 0.5;

}

.titulos__nome{
    font-family: var(--fonte-secundaria);
    font-size: 56px;
    color: var(--branco);
    text-transform: uppercase;

}

.crew-main{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 90vh;

}

.section-esquerda-crew{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 10vw;
    width: 40vw;

}

.titulo-crew{
    font-size: 28px;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 2rem;
}

.titulo-crew b{
    opacity: 0.5;
}

.titulos__cargo{
    padding-top: 10rem;
}

.titulos__nome  {
    text-align: left;
    padding-top: 2vh;
}

.texto-crew{
    position: relative;
    top: 2.5rem;
}


.section-direita-crew{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50vw;
    text-transform: uppercase;

}

.img-crew{
    display: flex;
    vertical-align: baseline;
}



.slider{
    display: flex;
}

.radio{
    display: flex;
    position: relative;
    top: 5rem;
}