.body-crew {
    width: 100vw;
    height: 100vh;
    background-image: url(../crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: var(--branco);
}

.titulos__cargo{
    font-family: var(--fonte-secundaria);
    font-size: 32px;
    color: var(--branco);
    text-transform: uppercase;
    opacity: 0.5;

}

.titulos__nome{
    font-family: var(--fonte-secundaria);
    font-size: 56px;
    color: var(--branco);
    text-transform: uppercase;

}

.crew-main{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 90vh;

}

.section-esquerda-crew{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 10vw;
    width: 40vw;

}

.titulo-main{
    font-size: 28px;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 2rem;
}

.titulo-main b{
    opacity: 0.5;
}

.titulos__cargo{
    padding-top: 10rem;
}

.titulos__nome  {
    text-align: left;
    padding-top: 2vh;
}

.texto-crew{
    position: relative;
    top: 2.5rem;
}


.section-direita-crew{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50vw;
    text-transform: uppercase;

}

.section-direita-crew img{
    max-width: 620px;
    max-height: 780px;
    position: absolute;
    bottom: 0;
}

.img-crew{
    display: flex;
    vertical-align: baseline;
}

.slider{
    display: flex;
}

.radio{
    display: flex;
    position: relative;
    top: 5rem;
}

@media screen and (max-width:820px) {
    .body-crew{
        background-image: url(../crew/background-crew-tablet.jpg);
    }

    .crew-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        width: 100vw;
        height: 100vh;  
        }

    .titulo-main{
        display: flex;
        justify-content: center;
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 1rem;
    }

    .titulos__cargo{
        text-align: center;
        padding: 0;
        font-size: 28px;
    } 
    
    .titulos__nome{
        text-align: center;
        font-size: 46px;
        padding: 0;
    }

    .section-esquerda-crew{
        padding: 0;
        width: 80%;
        text-align: center;
    }

    .section-direita-crew{
        flex-direction: column;

    }

    .section-direita-crew img {
        width: 25rem;
        height: 30rem;

    }

    .radio{
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width: 414px) {

    .body-crew{
        background-image: url(../crew/background-crew-mobile.jpg);
        width: 100vw;
        height: 100vh;
        position: static;
    }

    .crew-main{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .radio{
        display: flex;
        position: static;
    }

    .section-direita-crew img {
        position: static;
        width: 100%;
        height: 100%;
        margin-top: 8rem;


    }

    .img-crew{
        position: static
    }

    .texto-crew{
        display: flex;
        text-align: center;
        position: static;
    }

    .titulos__cargo{
        opacity: 1;
    }

    .titulo-main {
        display: flex;
        justify-content: center;
        padding-left: 0;

    }

    .titulo-main b{
        opacity: 1;

    }

    
    
}
