.body-destinos {
    width: 100vw;
    height: 100vh;
    background-image: url(../destination/background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: var(--branco);
}


.destinos-main {
    display: flex;
    justify-content: space-between;
}

.section-esquerda {
    flex-grow: 1;
    padding: 10rem 5rem;
    width: 45%;

}

.section-direita {
    flex-grow: 1;
    padding: 15rem 10rem 10rem 10rem;
    width: 55%;

}

.titulo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.titulo h1 {
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 2em;
}

.titulo h1 b {
    font-weight: 700;
    opacity: 0.25;
}

.section-direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.destinos-lista {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    text-transform: uppercase;
}

.destinos__lista--itens {
    padding: 0 2em;
}

.ativo {
    border-bottom: 2px solid var(--branco);
}

.descricao__titulo {
    font-size: 100px;
    font-family: var(--fonte-secundaria);
    text-transform: uppercase;
    padding: 3rem 0;
}

.tempo-distancia {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

.tempo- {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;


}

.distancia- {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;

}

.distancia__numero,
.tempo__numero {
    font-size: 28px;
    font-family: var(--fonte-secundaria);
    padding-top: 0.5rem;
    text-transform: uppercase;

}

@media screen and (max-width:768px) {

    .destinos-main {
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 2.5%;

    }

    .destinos-lista{
        justify-content: space-between;
        margin: 0;
    }

    .section-esquerda{
        padding: 0;
    }

    .section-direita{
        padding: 0;

    }

    .titulo{
        width: 100%;
    }

    .titulo h1 {
        font-size: 24px;
        text-align: left;
    }

    .titulo h1 b {
        text-align: left;

    }

    .titulo img{
        width: 18.75rem;
        height: 18.75rem;
        margin-bottom: 1.5rem;
    }

    .descricao__titulo{
        padding: 2rem 0;
        text-align: center;
    }



    
}
