.header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 96px;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: 5%;

}

.logo {
    margin-left: 2em;
}

.menu {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    width: 50%;
    color: var(--branco);
    right: 0;


}

.menu-lista {
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
    height: 96px;
    width: 100%;

}

.menu-item {
    flex-grow: 1;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

}

.link-linha {
    text-decoration: none;
    color: var(--branco);
}

.link-linha:hover, .link-linha.ativo {
    padding-bottom: 2.25rem;
    transition: 500ms;

}

.linha-horizontal {
    position: relative  ;
    width: 42%;
    height: 1px;
    left: 5rem;
    top: 0%;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.25;


}