.body-home {
    background-image: url(../home/background-home-desktop.jpg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: var(--branco);

}


.font-150px {
    font-family: var(--fonte-secundaria);
    font-size: 150px;
    padding: 0.5em 0;
    color: var(--branco);
    text-transform: uppercase;
}

.font-28px {
    font-size: 28px;
    color: var(--branco);
    padding: 0.5em 0;
    text-transform: uppercase;
}

.font-18px {
    font-size: 18px;
    color: var(--branco);
}

.main {
    display: flex;
    justify-content: space-between;
}

.texto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 10%
}

.botao {
    display: flex;
    padding: 15%;

}

.botao-explore {
    Width: 17rem;
    Height: 17rem;
    background-color: var(--branco);
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    font-size: 32px;
    font-family: var(--fonte-secundaria);
    color: var(--transparente);
    text-transform: uppercase;
}

.botao-explore:hover {
    box-shadow: 10px 10px 40px 25px rgba(255, 255, 255, 0.4);
    transition: 1000ms;

}

@media screen and (max-width: 768px) {
    .body-home {
        background-image: url(../home/background-home-tablet.jpg);
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        color: var(--branco);
    
    }

    .botao-explore {
        Width: 15rem;
        Height: 15rem;
        
    }

    .font-150px{
        padding: 1rem 2rem;
    }
    .texto{
        padding: 4rem;
    }

    .main{
        flex-direction: column;
        text-align: center;
        position: relative;
        top: 10%;
    }
    
    .botao{
        justify-content: center;
        padding: 1rem 0;
    }
    
    
}