@import url(./home.css);
@import url(./reset.css);
@import url(./destination.css);
@import url(./crew.css);
@import url(./header.css);
@import url(./technology.css);

:root {
    --transparente: #0B0D17;
    --lilas: #D0D6F9;
    --branco: #FFFFFF;
    --fonte-principal: 'Barlow Condensed';
    --fonte-secundaria: 'Bellefair';
}

b {
    font-weight: 900;
}

body,html {
    font-family: var(--fonte-principal);
    overflow-x: hidden;
   
}

hr {
    opacity: 0.25;
}

a {
    position: relative;
    color: #fff;
    text-decoration: none;
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.button .ativo2{
    background-color: #ffffff;
    color: #000000;

}

@media screen and (max-width: 414px) {
    

    a {
        position: static;

    }
    
}