@import url(./home.css);
@import url(./reset.css);
@import url(./destination-moon.css);

:root {
    --transparente: #0B0D17;
    --lilas: #D0D6F9;
    --branco: #FFFFFF;
    --fonte-principal: 'Barlow Condensed';
    --fonte-secundaria: 'Bellefair';
}

b {
    font-weight: 900;
}

body,html {
    font-family: var(--fonte-principal);
   
}