.body-tecnologia {
    width: 100vw;
    height: 100vh;
    background-image: url(../technology/background-technology-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: var(--branco);
}

.container-tecnologia{
    display: grid;
    grid-template-columns: 15vw 50vw 35vw;
    grid-template-rows: 20vh 40vh;
    grid-template-areas: 
        '. titulo imagem'
        'botoes texto imagem';
    position: relative;
    top: 20%;
    margin-right: 8px;
}

.titulo-main{
    grid-area: titulo;
}

.button-tecnologia{
    grid-area: botoes;
    grid-row-start: 1;
    grid-row-end:4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--branco);
}

.button-tecnologia input{
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    color: var(--branco);
    font-size: 32px;
    font-family: var(--fonte-secundaria);
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.25);

} 

.button-tecnologia input:hover{
    background-color: var(--branco);
    box-shadow: 10px 10px 40px 25px rgba(255, 255, 255, 0.4);
    transition: 600ms;
    color: #000;

}

.textos-container{
    grid-area: texto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    font-size: 20px;
}

.textos-container .titulos__menor{
    text-transform: uppercase;
    font-family: var(--fonte-secundaria);

}

.textos-container .titulos__maior{
    text-transform: uppercase;
    font-family: var(--fonte-secundaria);
    font-size: 56px;
}

.textos-container{
    padding: 0 10rem 4rem 0;
}

.imagem-tecnologia-spaceport{
    background-image: url(../technology/image-spaceport-portrait.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 100%;
    grid-area: imagem;

}


.imagem-tecnologia-vehicle{
    background-image: url(../technology/image-launch-vehicle-portrait.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 100%;
    grid-area: imagem;
}

.imagem-tecnologia-capsule{
    background-image: url(../technology/image-space-capsule-portrait.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 100%;
    grid-area: imagem;
}

.responsivo{
    display: none;
}

@media screen and (max-width:768px) {
    .header{
        height: 10%;
    }

    .container-tecnologia{
        display: grid;
        width: 100%;
        height: 90%;
        grid-template-columns: 100%;
        grid-template-rows: 8% 37% 10% 45%;
        grid-template-areas: 
            'titulo'
            'imagem'
            'botoes'
            'texto';
        position: static;
        margin-top: 20%;
        text-align: center;
    }

    .titulo-main{
        grid-area: titulo;
        text-align: left;
        padding-left: 3rem;
    }

    .imagem-tecnologia-capsule{
        grid-area: imagem;
        grid-row-start: 2;
        grid-row-end: 2;
        width: 100%;
        height: 35vh;
        background-image: url(../technology/image-space-capsule-landscape.jpg);
        background-repeat: no-repeat;
        background-size: cover;

    }

    .imagem-tecnologia-vehicle{
        grid-area: imagem;
        grid-row-start: 2;
        grid-row-end: 2;
        width: 100%;
        height: 100%;
        background-image: url(../technology/image-launch-vehicle-landscape.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .imagem-tecnologia-spaceport{
        grid-area: imagem;
        grid-row-start: 2;
        grid-row-end: 2;
        width: 100vw;
        height: 35vh;
        background-image: url(../technology/image-spaceport-landscape.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .button-tecnologia{
        padding-top: 2rem;
        grid-area: botoes;
        flex-direction: row;
        justify-content: center;
        

    }

    .button-tecnologia input{
        width: 58px;
        height: 58px;
        margin: 1rem;
    }

    .textos-container{
        display: flex;
        grid-area: texto;
        padding: 0;
        text-align: center;
        justify-content: center;
        justify-items: center;
        width: 100%;
    }

    .textos-container p{
        width: 80%;
        margin: 0 auto 1rem auto;

    }

    .responsivo{
        display: none;
    }

@media screen and (max-width: 414px){

    .textos-container .titulos__maior{
        font-size: 36px;
    }

}




